<%- include("partials/header.ejs") %>
<body>
    <div id="chat-container">
      <div id="messages">
          
      </div>
      <div id="input-container">
          <input type="text" id="message-input" placeholder="Type your message...">
          <button id="button" onclick="sendMessage()">Send</button>
      </div>
  </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>
<script> 
   const username ="<%= username %>"
 </script>
</body>
</html>