<%- include("partials/header.ejs") %>
<body id="home-body">
    <form  id="home-form"  method="get">
        <button id="button" formaction="/register" type="submit">Register</button>
        <button id="button" formaction="/login" type="submit">Login</button>
    </form>

</body>
</html>